<script type="text/javascript" src="__ALIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ALIB__/layer/2.4/layer.js"></script>

<script type="text/javascript" src="__ALIB__/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ALIB__/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ALIB__/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__AJS__/H-ui.js"></script>
<script type="text/javascript" src="__AJS__/H-ui.admin.page.js"></script>
<!--独立-->
<script type="text/javascript" src="__ALIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ALIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ALIB__/laypage/1.2/laypage.js"></script>

<script type="text/javascript" src="__ALIB__/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__ALIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__ALIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__ALIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>